Inconsistency in requirements for validation of revocation status of X.509 certificate between Sections A.4.1.1 and D.4.3.1

**What is the change request for the cPP? Please describe.**
I see this in the HCD cPP:
 
In Section A.4.1.1, FIA_X509_EXT.1 X.509 Certificate Validation it states that
"The TSF shall validate the revocation status of the certificate using [selection: the Online
Certificate Status Protocol (OCSP) as specified in RFC 6960, a Certificate Revocation List (CRL) as
specified in RFC 5280 Section 6.3, Certificate Revocation List (CRL) as specified in RFC 5759 Section
5].
 
But later in Section D.4.3.I  - D.4.3.1. FIA_X509_EXT.1 X.509 Certificate Validation (Extended Component Definition) I see this:
"The TSF shall validate the revocation status of the certificate using [selection: the Online
Certificate Status Protocol (OCSP) as specified in RFC 6960, a Certificate Revocation List (CRL) as
specified in RFC 5280 Section 6.3, Certificate Revocation List (CRL) as specified in RFC 5759 Section
5, no revocation method]"
 
I also see in Application Note 112 in A.4.1.1 this:
"If the TOE supports functionality that does not use any of the possible values listed in the
specific certificate extension, then it is reasonable to process such certificate as the relevant part of the
SFR is considered trivially satisfied. However, this does not mean that it is allowable to accept certificates with inappropriate extension values simply because a specific security function is not
implemented by the TOE. For example, the TOE should not successfully authenticate a web server that
presents an X.509v3 certificate that has extendedKeyUsage set to only OCSPSigning, even if the TOE
does not implement OCSP revocation checking...."
 
Can you tell us if OCSP is required?

**Describe the solution you'd like**
Please clarify full OCSP requirements in the HCD cPP.

**Describe alternatives you've considered**
None

**Additional context**
None

Add any other context or screenshots about the change request here.
