Additional JISEC comments against the 3rd Internal Draft of the HCD cPP

**What is the change request for the cPP? Please describe.**
The following are additional JISEC comments against the 3rd Internal Draft of the HCD cPP:

1. Appendix A.2.2.2. FCS_TLSS_EXT.1 TLS Server Protocol Without Mutual Authentication, FCS_TLSS_EXT.1.4: In the selection of FCS_TLSS_EXT.1.4, the following two options should be added to be consitent with the specification of TLS 1.3:
no session resumption according to RFC 8446, session resumption with a PSK according to RFC 8446
2. Appendix A.2.6. FCS_COP.1/KeyedHash Cryptographic Operation (Keyed Hash Algorithm): ISO/IEC 9797-2:2011 should be replaced with ISO/IEC 9797-2:2021, as it will be released soon.
3. Appendix A.3.1. FCS_COP.1/Hash Cryptographic Operation (Hash Algorithm): ISO/IEC 10118-3:2004 should be replaced with ISO/IEC 10118-3:2018.
4. Appendix A.4.2. FCS_KDF_EXT Extended: Cryptographic Key Derivation: The dependency to FCS_CKM_EXT.4 should be added, because any intermediate keys and resultant key materials shall also be subject to key destruction.
5. Appendix A.4.3. FCS_COP.1(h) Cryptographic Operation (for keyed-hash message authentication): FCS_COP.1(h) should be renamed to as FCS_COP.1/PRF.
6. Appendix A.4.3. FCS_COP.1(h) Cryptographic Operation (for keyed-hash message authentication): ISO/IEC 9797-2:2011 should be replaced with ISO/IEC 9797-2:2021, as it will be released soon.
7. Appendix A.4.4. FCS_SNI_EXT.1 Extended: Cryptographic Operation (Salt, Nonce, and Initialization Vector Generation), Application Note: The following text should be added under the Application note:
The requirement for GCM in FCS_SNI_EXT.1.3 is reflection of the requirements in NIST SP 800-38D, Section 8, more specification Section 8.3. 
8. Appendix B.1.2. FCS_KYC_EXT.1 Extended: Key Chaining: The dependency to FCS_CKM_EXT.4 should be added, because any intermediate keys and resultant key materials shall also be subject to key destruction.
9. Appendix C.3.1. FCS_CKM.1(a) Cryptographic Key Generation: The Brainpool curves should also be added. The following selection option should also be added in the 1st selection:
• ECC schemes using ‘Brainpool curves’ [selection: brainpoolP256r1, brainpoolP384r1, brainpoolP512r1] that meet the following: RFC5639 Section 3;
10. Appendix C.4.1. FCS_DTLSC_EXT & FCS_DTLSS_EXT DTLS Protocol: NDcPP should be replaced with HCDcPP.
11. Appendix F: Key Management Document - F.1. Key Management Description and F.2. Key Management Diagram: The term FEK is used without definition.
12. Appendix I: Glossary: References to CPP_FDE_EE_V2.0 should be replaced with CPP_FDE_EE_V2.2E.
13. Appendix I: Glossary: The versioning information and release date of CPP_FDE_EE_V2.0E, is Version 2.2E, February 1, 2019.

**Describe the solution you'd like**
Update the HCD cPP as indicated above

**Describe alternatives you've considered**
None

**Additional context**
None
