Inclusion in HCD cPP of SFR from CCUF Crypto WG SSH Package for Use of SSH KDF

**What is the change request for the cPP? Please describe.**
Issue #128 was to "Update the SFRs for FCS_SSH_EXT.1 in Section A.2.3 & D.2.10 with the corresponding SFRs for FCS_SSHC_EXT.1 and FCS_SSHS_EXT.1 from Sections B.3.1.5, C2.2.6 and C.2.2.7 of ND cPP v2.2.e". This issue resulted from the HCD iTC Network Subgroup's efforts to review the four secure protocols in the current HCD cPP draft to sync with ND cPP v2.2e.

While this effort was underway the CCUF Crypto Working Group published an SSH Package. The Network Subgroup reviewed the SSH SFRs in this SSH Package against the SSHC and SSHS SFRs in the ND cPP that were to be included in the HCD cPP per Issue #128.

One of the SFRs in the SSH Package that had no equivalent in the ND cPP for either SSHC or SSHS was the following:
**FCS_SSH_EXT.1.7** The TSF shall use SSH KDF as defined in [selection:
RFC 4253 (Section 7.2),
RFC 5656 (Section 4)
] 
to derive the following cryptographic keys from a shared secret: session keys.

In reviewing this SFR, the Network Subgroup's conclusion was that it needed more research to determine whether is should be included in the HCD cPP.  This issue is to keep the issue of this SFR open for consideration by the full HCD iTC,

**Describe the solution you'd like**
HCD iTC determine whether SFR for use of SSH KDF should be included in HCD cPP v1.0

**Describe alternatives you've considered**
None

**Additional context**
None
