[cPP CHANGE] A.3.2 FCS_TLS(C/S)_EXT Protocol Updates

The list of DTLS-/TLS-related ciphersuites supported by this cPP needs to be updated to include the following TLS 1.3 ciphersuites:

•  TLS_AES_256_GCM_SHA384 as defined in RFC 8446

If HCD use Pre-shared keys, then these TLS 1.2 pre-shared key ciphersuites should also be added:

•  TLS_ECDHE_PSK_WITH_AES_256_GCM_SHA384 as defined in RFC 8442
•  TLS_DHE_PSK_WITH_AES_256_GCM_SHA384 as defined in RFC 5487
•  TLS_RSA_PSK_WITH_AES_256_GCM_SHA384 as defined in RFC 5487