Replace text for SFRs FCS_SSHC_EXT_1.7 and FCS_SSHS_EXT.1.7 as indicated in Issue #128 with text for SFR FCS_SSH_EXT.1.6 from the CCUF Crypto Working Group SSH Package

**What is the change request for the cPP? Please describe.**
Issue #128 was to "Update the SFRs for FCS_SSH_EXT.1 in Section A.2.3 & D.2.10 with the corresponding SFRs for FCS_SSHC_EXT.1 and FCS_SSHS_EXT.1 from Sections B.3.1.5, C2.2.6 and C.2.2.7 of ND cPP v2.2.e". This issue resulted from the HCD iTC Network Subgroup's efforts to review the four secure protocols in the current HCD cPP draft to sync with ND cPP v2.2e.

While this effort was underway the CCUF Crypto Working Group published an SSH Package. The Network Subgroup reviewed the SSH SFRs in this SSH Package against the SSHC and SSHS SFRs in the ND cPP that were to be included in the HCD cPP per Issue #128.

One difference that the Network Subgroup found that it felt should be included was SFRs FCS_SSHC_EXT.1.7 and FCS_SSHS_EXT.1.7. The Network Subgroup reviewed both SFRs against the corresponding SFR in the SSH Package (FCS_SSH_EXT.1.6) and actually felt the SFR in the SSH Package was better in terms of having more options than either SFR FCS_SSHC_EXT.1.7 or FCS_SSHC_EXT.1.7 from the ND cPP. Therefore, the Network Subgroup is recommending that the wording for SFRs FCS_SSHC_EXT.1.7 and FCS_SSHC_EXT.1.7 both be replaced by the wording from the  SFR FCS_SSH_EXT.1.6 in the SSH Package.

**Describe the solution you'd like**
Replace the wording for SFRs .FCS_SSHC_EXT.1.7 and FCS_SSHC_EXT.1.7 as indicated in Issue #128 by the following:

**FCS_SSHC_EXT.1.7** The TSF shall establish a shared secret with its peer using one of the following mechanisms: [selection: 
diffie-hellman-group14-sha1 (RFC 4253), 
diffie-hellman-group14-sha256 (RFC 8268), 
diffie-hellman-group15-sha512 (RFC 8268), 
diffie-hellman-group16-sha512 (RFC 8268), 
diffie-hellman-group17-sha512 (RFC 8268), 
diffie-hellman-group18-sha512 (RFC 8268),
ecdh-sha2-nistp256 (RFC 5656), 
ecdh-sha2-nistp384 (RFC 5656), 
ecdh-sha2-nistp521 (RFC 5656), 
] 
and no other mechanisms.

**FCS_SSHS_EXT.1.7** The TSF shall establish a shared secret with its peer using one of the following mechanisms: [selection: 
diffie-hellman-group14-sha1 (RFC 4253), 
diffie-hellman-group14-sha256 (RFC 8268), 
diffie-hellman-group15-sha512 (RFC 8268), 
diffie-hellman-group16-sha512 (RFC 8268), 
diffie-hellman-group17-sha512 (RFC 8268), 
diffie-hellman-group18-sha512 (RFC 8268),
ecdh-sha2-nistp256 (RFC 5656), 
ecdh-sha2-nistp384 (RFC 5656), 
ecdh-sha2-nistp521 (RFC 5656), 
] 
and no other mechanisms.

**Describe alternatives you've considered**
None

**Additional context**
None
