Multiple technical comments from JISEC against the Final Draft (v0.13) for the proposed HCD cPP v1.0

**What is the change request for the cPP? Please describe.**
The following comments against the Final Draft (Version 0.13) of the proposed HCD cPP Version 1.0 were submitted by JISEC:
1. Section C.4.1. FCS_CKM.1/AKG, pg. 114: Master Comments Issue #289 proposed that FCS_CKM.1/AKG is moved to the Optional Requirement based on NIAP TD 0074, and it was accepted. However, JISEC disagree with NIAP TD 0074 due to SFR dependency issues. Optional means that ST authors are free to choose. If ST authors choose not to include FCS_CKM.1/AKG in their STs, the STs will not satisfy CEM ASE_REQ.1-9. 
There should be no technical difference between HCD and Network Device for FCS_CKM.1/AKG. Align with NDcPP, i.e., move FCS_CKM.1/AKG from Optional Requirements to Mandatory. Or, reconsider SFR dependencies, use case, etc.
2 Section 5.12, 5.12. TOE Security Functional Requirements Rationale, pg. 54: Master Comments Issue #224 No.3 was accepted, but the issue has not been resolved. SFR dependency rationale such as NDcPP v2.2E section E.1 SFR Dependencies Analysis is missing. Move section 5.12 to Appendix I.9; Create new section I.10 to describe SFR dependencies analysis.
3. Section 5.3.6. FCS_COP.1/SigGen, pg. 36: 	Master Comments Issue #212 No.9 has not been resolved and its status is unknown.
In section 5.3.6 FCS_COP.1/SigGen, “Case: RSA schemes, FIPS PUB 186-4” is described, but IKEv1 uses non-standard RSA scheme as described in RFC 2409 section 5.1.
*RFC 5996 for IKEv2 describes a note as follows: 
RSA Digital Signature
Computed as specified in Section 2.15 using an RSA private key with RSASSA-PKCS1-v1_5 signature scheme specified in [PKCS1](implementers should note that IKEv1 used a different method for RSA signatures). 
Add the selection case for IKEv1 RSA schemes
4. Section 1.4.3 USE CASE 3: Optional Use Cases
USE CASE 3: Optional Use Cases, pg. 12: In section 1.4.3. USE CASE 3: Optional Use Cases, item 2 is described as follows:
	2. Redeploying or Decommissioning the HCD: … even if the data are encrypted and its cryptographic key is destroyed.
	There are following issues:
	Optional security-relevant capability is “Wipe Data”, not “Redeploying or Decommissioning the HCD”.
	The last sentence may not apply to some data, because some data may be erased by cryptographic erase even if the optional Wipe Data is used.
Change the text “2. Redeploying or Decommissioning the HCD:” to “2. Wipe Data:”. Delete the text “even if the data are encrypted and its cryptographic key is destroyed”.
5. Section 3.5.4 Storage Encryption, pg. 18: destroying keys is described as follows:
	… and the TOE shall provide a function that an authorized administrator may destroy encryption keys or keying material if the TOE supports a function for removing the TOE from its Operational Environment [P.STORAGE_ENCRYPTION].
Some readers may misunderstand that destroying keys are conditional because of the description “if the TOE supports a function”.
Clarify destroying keys are mandatory. Change the quoted text as follows:
	… and the TOE shall provide a function that an authorized administrator may destroy encryption keys or keying material when the TOE is removed from its Operational Environment or its ownership is changed [P.STORAGE_ENCRYPTION].
6. Appendix G: Glossary, pg. 160: 	The term “block erase” is missing in Appendix G: Glossary. 	Add the description of the term “block erase”.
7. Section C.1.1. FDP_UDU_EXT.1, pg. 107: 	The bold text conventions in FDP_UDU_EXT.1.1 statement described in C.1.1. is inconsistent. There is a typo in FDP_UDP_EXT.1.1 statement.
Change the bold text in FDP_UDP_EXT.1.1 statement to normal text. Change the text “FDP_UDU_EXT.1.1 Extended: The TSF shall …” to “FDP_UDP_EXT.1.1 The TSF shall …”.

**Describe the solution you'd like**
Implement the corrected actions indicated above for the JISEC comments

**Describe alternatives you've considered**
None

**Additional context**
None


Based on the HCD iTC meeting (2022-09-13), renumbering is needed for the comment master spreadsheet.

Based on the HCD iTC meeting (2022-09-13 & 2022-09-20), Here is the update for the resolution.

1. accepted - will move FCS_COP.1/AKG to be a mandatory SFR
2. accepted
3. defer to get JISEC explanation
4. Will study
5. accepted. Will have to change in all places where P.STORAGE_ENCRYPTION is defined.
6. accepted
7. Look to see what other cPPs do.

Item 3, 4 will be reviewed in the following (ad-hoc) comment resolution meeting (2022-09-22 8:00 AM KST/JST) with the scheme members.