Implement NIAP TD0636 to Clarify Public Key User Authentication in FCS_SHSS_EXT in the HCD cPP

**What is the change request for the cPP? Please describe.**
NIAP TD0636: NIT Technical Decision for Clarification of Public Key User Authentication for SSH Server is a technical decision against ND cPP v2.2e for clarification of public key user authentication for SSH Server. 
1. This technical decision changes the following Application Note to SFR FCS_SSHS_EXT.1.2 in the ND cPP to read:
The intent of this element is to specify user authentication mechanism(s) that the TOE acting as an SSH server accepts from connecting SSH clients. The TOE is required to implement the capability to validate presented authentication keys. When SSH Server is used as part of FTP_TRP.1/Admin, it is expected the TOE is capable of verifying each presented key against a database of trusted user identities as specified by FMT_SMF.1. While no specific public key algorithms are mandatory to support, the use of public key algorithms must be consistent with signature verification as specified in FCS_COP.1/SigGen.

If the TOE implements password-based authentication, the option ‘password-based’ must be selected. If the TOE can only authenticate itself with a public key, the option ‘no other method’ must be chosen.
2. The following is preappend to the Application Note to SFR FCS_SSHS_EXT.1.5 in the ND cPP:
The intent of this element is to specify public-key server authentication mechanism(s) that the TOE implements. The TOE is required to implement the capability to generate its own host authentication key(s) in accordance with FCS_CKM.1.

The TOE is required to implement the capability to verify the host’s public key as described in RFC 4251 Section 4.1.

Now the HCD iTC has taken the text of the FCS_SSHS_EXT SFR from the ND cPP v2.2e completely verbatim to form the FCS_SSHS_EXT SFR text in the latest version of the HCD cPP. Therefore, this required clarification should apply equally to the same SSHS SFRs in the HCD cPP as it does in the ND cPP given that the SFR text in both cPPs are the same. As a result, the Application Note for FCS_SSHS_EXT.1.2 should be added to FCS_SSHS_EXT.1.2 in Section A.2.3.2 in the HCD cPP and the preappend should be added to the Application Note for SFR FCS_SSHS_EXT.1.5 in Section A.2.3.2 in the HCD cPP.

**Describe the solution you'd like**
Implement the changes indicated above for FCS_SSHS_EXT.1.2 and FCS_SSHS_EXT.1.5 in the HCD cPP

**Describe alternatives you've considered**
None

**Additional context**
None
