Is OCSP Stapling is allowed in CCC for the OCSP requirement in Section A.4.1.1

**What is the change request for the cPP? Please describe.**
Developers are asking if OCSP Stapling is allowed in CCC for the OCSP requirement in Section A,4.1.1 FIA_X509_EXT.1 X.509 Certificate Validation. 
My strict interpretation of the requirement below is that it is not. I don’t see it described in RFC 6960.  
 
It is described in RFC 6066 rfc6066 (ietf.org) Which is a TLS extension
 
Allow TLS clients and servers to negotiate that the server sends the client certificate status information (e.g., an Online Certificate Status Protocol (OCSP) [RFC2560] response) during a TLS handshake.  This functionality is desirable in order to avoid sending a Certificate Revocation List (CRL) over a constrained access network and therefore saving bandwidth

**Describe the solution you'd like**
Clarify if OCSP Stapling is allowed in CCC for the OCSP requirement in Section A,4.1.1 FIA_X509_EXT.1 X.509 Certificate Validation. 

**Describe alternatives you've considered**
None

**Additional context**
None
