[cPP CHANGE] Change the allowed TLS ciphersuites?

**What is the change request for the cPP? Please describe.**
The list of required and allowed ciphersuites has changed quite a bit in NDcPP2.2e and TLS-PKG.  If there is a desire to keep the ciphersuites in closer alignment with those documents, then the ciphersuites could be updated without updating the entire TLS SFRs.  Note that support for TLS_RSA_WITH_AES_128_CBC_SHA is no longer mandatory.

**Describe the solution you'd like**
FCS_TLS_EXT.1.1 could be changed to:

...supporting the following ciphersuites:
[selection:
_•	TLS_RSA_WITH_AES_128_CBC_SHA as defined  in RFC 3268
•	TLS_RSA_WITH_AES_256_CBC_SHA as defined  in RFC 3268
•	TLS_DHE_RSA_WITH_AES_128_CBC_SHA as defined  in RFC 3268
•	TLS_DHE_RSA_WITH_AES_256_CBC_SHA as defined  in RFC 3268
•	TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA as defined  in RFC 4492
•	TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA as defined  in RFC 4492
•	TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA as defined  in RFC 4492
•	TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA as defined  in RFC 4492
•	TLS_RSA_WITH_AES_128_CBC_SHA256 as defined in RFC 5246
•	TLS_RSA_WITH_AES_256_CBC_ SHA256 as defined in RFC 5246
•	TLS_DHE_RSA_WITH_AES_128_CBC_ SHA256 as defined in  RFC 5246
•	TLS_DHE_RSA_WITH_AES_256_CBC_ SHA256 as defined in  RFC 5246
•	TLS_RSA_WITH_AES_128_GCM_SHA256 as defined in  RFC 5288
•	TLS_RSA_WITH_AES_256_GCM_SHA384 as defined in  RFC 5288
•	TLS_DHE_RSA_WITH_AES_128_GCM_SHA256 as defined  in RFC 5288
•	TLS_DHE_RSA_WITH_AES_256_GCM_SHA384 as defined  in RFC 5288
•	TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256 as defined  in RFC 5289
•	TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384 as defined  in RFC 5289
•	TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 as defined  in RFC 5289
•	TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 as defined  in RFC 5289
•	TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 as defined  in RFC 5289
•	TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 as defined  in RFC 5289
•	TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 as defined  in RFC 5289
•	TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 as defined  in RFC 5289_
] and no other ciphersuites.

**Describe alternatives you've considered**
Keep the existing list of ciphersuites.

**Additional context**
None
