Internal Inconsistencies and other minor issues noted in HCD cPP Version 0.11 dated 12/14/2021

**What is the change request for the cPP? Please describe.**
The following comments against HCD cPP Version 0.11 dated 12/14/2021 were submitted by Toyoaka HAGIWARA of EPSON (Note - inconsistent elements are indicated in bold type):
1. Section 3.3.3. Network Communication Attacks, pg. 17: In the first sentence "An attacker may access data in transit or otherwise compromise the security of the TOE by monitoring or manipulating network communication [An attacker may access data in transit or otherwise compromise the security of the TOE by monitoring or manipulating network communication [T.NET_COMRPOMISE]" 'T.NET_**COMRPOMISE**' should be 'T.NET_**COMPROMISE**',
2. Section 4.1.14. Authentication Failures, pg. 23: According to Note in this section, O.AUTH_FAILURES is conditionally mandatory. So the title of this section should be '4.1.14. Authentication Failures (conditionally mandatory)'
3. Section 5.5.1. FIA_AFL.1 Authentication failure handling, pg. 41: There is no SFR that implements O.AUTH_FAILURES.
FIA_AFL.1.2 specifies the action when authentication fails. Therefore, O.AUTH_FAILURES should be added to FIA_AFL.1. So, '(for O.USER_I&A)' should be changed to '(for O.USER_I&A, O.AUTH_FAILURES)'
4.  Section 5.5.1. FIA_AFL.1 Authentication failure handling, pg. 41: If O.AUTH_FAILURES is a conditional requirement, then FIA_AFL.1 is also a conditional requirement for internal identification and authentication. See the Note at the end of this section. So, Section 5.5.1  FIA_AFL.1 should be moved to Appendix B: Conditionally Mandatory Requirements.
5. Appendix K.8. Security Objectives Tables, Table 24, pg. 171: There is no Threat / Policy / Assumption corresponding to O.AUTH_FAILURES. A threat of bruteforce attacks may be required. Note - DSC cPP has a definition of T.BRUTE_FORCE_AUTH.
6. Section A.2.1. FCS_IPSEC_EXT.1 Extended: IPsec selected, FCS_IPSEC_EXT.1.10, Application Note, pg. 64:
 There is an unnecessary underscore before "Because" in the last paragraph. Remove the underscore.
7. Section A.2.1. FCS_IPSEC_EXT.1 Extended: IPsec selected, FCS_IPSEC_EXT.1.3, pg. 62: SFR and Extended Component Definitions do not match.
A.2.1. FCS_IPSEC_EXT.1 Extended: IPsec selected
FCS_IPSEC_EXT.1.3 The TSF shall implement [selection: **transport mode, tunnel mode**].

D.2.3.1. FCS_IPSEC_EXT.1 Extended: IPsec selected
FCS_IPSEC_EXT.1.3 The TSF shall implement [selection: **tunnel mode, transport mode**].
Match the order of selection.
8. Section A.3.1 FCS_PCC_EXT.1, pg. 85: SFR and Extended Component Definitions do not match.

A.3.1. FCS_PCC_EXT.1 Extended: Cryptographic Password Construct and Conditioning
FCS_PCC_EXT.1.1 A password used by the TSF to generate a password authorization factor shall enable up to [assignment: positive integer of 64 or more] characters in the set of {upper case characters, lower case characters, numbers, and [assignment: other supported special characters]} and shall perform Password-based Key Derivation Functions in accordance with a specified cryptographic algorithm [HMAC-[selection: SHA-256, SHA-384, SHA-512]], with [assignment: positive integer of 1000 or more] iterations, and output cryptographic key sizes [selection: 128, 256] bits that meet the following: [**NIST SP 800-132**].

D.2.6.1. FCS_PCC_EXT.1 Extended: Cryptographic Password Construction and Conditioning
FCS_PCC_EXT.1.1 A password used by the TSF to generate a password authorization factor shall enable up to [assignment: positive integer of 64 or more] characters in the set of {upper case characters, lower case characters, numbers, and [assignment: other supported special characters]} and shall perform Password-based Key Derivation Functions in accordance with a specified cryptographic algorithm [HMAC-[selection: SHA-256, SHA-384, SHA-512]], with [assignment: positive integer of 1000 or more] iterations, and output cryptographic key sizes [selection: 128, 256] bits that meet the following: [**assignment: PBKDF recommendation or specification**].
Should be matched to the appropriate description.
9. Section A.2.3.1. FCS_SSHC_EXT.1 SSH Client Protocol, FCS_SSHC_EXT.1.4, pg. 73: SFR and Extended Component Definitions do not match.

A.2.3.1. FCS_SSHC_EXT.1 SSH Client Protocol
FCS_SSHC_EXT.1.4 The TSF shall ensure that the SSH transport implementation uses the following encryption algorithms and rejects all other encryption algorithms: [**selection: aes128-cbc, aes256-cbc, aes128-ctr, aes256-ctr, AEAD_AES_128_GCM, AEAD_AES_256_GCM, aes128-gcm@openssh.com, aes256-gcm@openssh.com**].

D.2.10.1. FCS_SSHC_EXT.1
FCS_SSHC_EXT.1.4 The TSF shall ensure that the SSH transport implementation uses the following encryption algorithms and rejects all other encryption algorithms: [**assignment: list of encryption algorithms**].
Should be matched to the appropriate description.
10. Section A.2.3.1. FCS_SSHC_EXT.1 SSH Client Protocol, FCS_SSHC_EXT.1.6, pg. 74: SFR and Extended Component Definitions do not match.

A.2.3.1. FCS_SSHC_EXT.1 SSH Client Protocol
FCS_SSHC_EXT.1.6 The TSF shall ensure that the SSH transport implementation uses [**selection: hmac-sha1, hmac-sha1-96, hmac-sha2-256, hmac-sha2-512, AEAD_AES_128_GCM, AEAD_AES_256_GCM, implicit**] as its data integrity MAC algorithm(s) and rejects all other MAC algorithm(s).

D.2.10.1. FCS_SSHC_EXT.1
FCS_SSHC_EXT.1.6 The TSF shall ensure that the SSH transport implementation uses [**assignment: list of data integrity MAC algorithms**] as its data integrity MAC algorithm(s) and rejects all other MAC algorithm(s).
Should be matched to the appropriate description.
11. Section A.2.3.1. FCS_SSHC_EXT.1 SSH Client Protocol, FCS_SSHC_EXT.1.7, pg. 74: SFR and Extended Component Definitions do not match.

A.2.3.1. FCS_SSHC_EXT.1 SSH Client Protocol
FCS_SSHC_EXT.1.7 The TSF shall ensure that [**selection: diffie-hellman-group14-sha1, diffie-hellman-group15-sha512, ecdh-sha2-nistp256] and [selection: diffie-hellman-group14-sha256, diffie-hellman-group16-sha512, diffie-hellman-group17-sha512, diffie-hellman group18-sha512, ecdh-sha2-nistp384, ecdh-sha2-nistp521, no other methods**] are the only allowed key exchange methods used for the SSH protocol.

D.2.10.1. FCS_SSHC_EXT.1
FCS_SSHC_EXT.1.7 The TSF shall ensure that [**assignment: list of key exchange methods**] are the only allowed key exchange methods used for the SSH protocol.
Should be matched to the appropriate description.
12. Section A.2.3.2. FCS_SSHS_EXT.1 SSH Server Protocol, FCS_SSHS_EXT.1.4, pg. 76: FR and Extended Component Definitions do not match.

A.2.3.2. FCS_SSHS_EXT.1 SSH Server Protocol
FCS_SSHS_EXT.1.4 The TSF shall ensure that the SSH transport implementation uses the following encryption algorithms and rejects all other encryption algorithms: [**selection: aes128- cbc, aes256-cbc, aes128-ctr, aes256-ctr, AEAD_AES_128_GCM, AEAD_AES_256_GCM, aes128-gcm@openssh.com, aes256-gcm@openssh.com**].

D.2.11.1. FCS_SSHS_EXT.1
FCS_SSHS_EXT.1.4 The TSF shall ensure that the SSH transport implementation uses the following encryption algorithms and rejects all other encryption algorithms: [**assignment: encryption algorithms**].
Should be matched to the appropriate description.
13. Section A.2.3.2. FCS_SSHS_EXT.1 SSH Server Protocol, FCS_SSHS_EXT.1.6, pg. 76: FR and Extended Component Definitions do not match.

A.2.3.2. FCS_SSHS_EXT.1 SSH Server Protocol
FCS_SSHS_EXT.1.6 The TSF shall ensure that the SSH transport implementation uses [**selection: hmac-sha1, hmac-sha1-96, hmac-sha2-256, hmac-sha2-512, AEAD_AES_128_GCM, AEAD_AES_256_GCM, implicit**] as its MAC algorithm(s) and rejects all other MAC algorithm(s).

D.2.11.1. FCS_SSHS_EXT.1
FCS_SSHS_EXT.1.6 The TSF shall ensure that the SSH transport implementation uses [**assignment: list of MAC algorithms**] as its MAC algorithm(s) and rejects all other MAC algorithm(s).
Should be matched to the appropriate description.
14. Section A.2.3.2. FCS_SSHS_EXT.1 SSH Server Protocol, FCS_SSHS_EXT.1.7, pg. 77: SFR and Extended Component Definitions do not match.

A.2.3.2. FCS_SSHS_EXT.1 SSH Server Protocol
FCS_SSHS_EXT.1.7 The TSF shall ensure that [**selection: diffie-hellman-group14-sha1, diffie-hellman-group15-sha512, ecdh-sha2-nistp256] and [selection: diffie-hellman-group14- sha256, diffie-hellman-group16-sha512, diffie-hellman-group17-sha512, diffie-hellman group18-sha512, ecdh-sha2-nistp384, ecdh-sha2-nistp521, no other methods**] are the only allowed key exchange methods used for the SSH protocol.

D.2.11.1. FCS_SSHS_EXT.1
FCS_SSHS_EXT.1.7 The TSF shall ensure that [**assignment: list of key exchange methods**] are the only allowed key exchange methods used for the SSH protocol.
Should be matched to the appropriate description.
15. Section A.2.2.1. FCS_TLSC_EXT.1 TLS Client Protocol Without Mutual Authentication, pg. :FR and Extended Component Definitions do not match.

A.2.2.1. FCS_TLSC_EXT.1 TLS Client Protocol Without Mutual Authentication, FCS_TLSC_EXT.1.1, pg. 68: SFR and Extended Component Definitions do not match.
FCS_TLSC_EXT.1.1 The TSF shall implement [selection: TLS 1.2 (RFC 5246), TLS 1.1 (RFC 4346)] and reject all other TLS and SSL versions. The TLS implementation will support the following ciphersuites:
**[selection: select supported ciphersuites from List 1] and no other ciphersuites**.

D.2.12.1. FCS_TLSC_EXT.1 TLS Client Protocol without Mutual Authentication
FCS_TLSC_EXT.1.1 The TSF shall implement [selection: TLS 1.2 (RFC 5246), TLS 1.1 (RFC 4346)] and reject all other TLS and SSL versions. The TLS implementation will support the following ciphersuites:
● **[assignment: list of optional ciphersuites and reference to RFC in which each is defined] and no other ciphersuites**.
Should be matched to the appropriate description.
16. Section A.2.7.1. FCS_DTLSC_EXT.1 DTLS Client Protocol Without Mutual Authentication, FCS_DTLSC_EXT.1.1, pg. 81: SFR and Extended Component Definitions do not match.

A.2.7.1. FCS_DTLSC_EXT.1 DTLS Client Protocol Without Mutual Authentication
[selection:
● **select supported ciphersuites from List 1] and no other ciphersuites.**
].

D.2.14.1. FCS_DTLSC_EXT.1 DTLS Client Protocol
FCS_DTLSC_EXT.1.1 The TSF shall implement [selection: DTLS 1.2 (RFC 6347), DTLS 1.0 (RFC 4347)] supporting the following ciphersuites:
● **[assignment: List of optional ciphersuites and reference to RFC in which each is defined].**
Should be matched to the appropriate description.
17. Section A.2.7.2. FCS_DTLSS_EXT.1 DTLS Server Protocol Without Mutual Authentication, FCS_DTLSC_EXT.1.1, pg. 83: SFR and Extended Component Definitions do not match.
A.4.1.2. FIA_X509_EXT.2 X.509 Certificate Authentication
FIA_X509_EXT.2.1 The TSF shall use X.509v3 certificates as defined by RFC 5280 to support authentication for [selection: DTLS, HTTPS, IPsec, SSH, TLS, no protocols] and [selection: code signing for system firmware/software updates[assignment: other uses], no additional uses].

D.4.3.2. FIA_X509_EXT.2 X509 Certificate Authentication
FIA_X509_EXT.2.1 The TSF shall use X.509v3 certificates as defined by RFC 5280 to support authentication for [selection: DTLS, HTTPS, IPsec, TLS, SSH, **[assignment: other protocols],** no protocols], and [selection: code signing for system firmware/software updates [assignment: other uses], no additional uses].
The description should match the Extended Component Definitions.
18. 17. Section A.2.7.2. FCS_DTLSS_EXT.1 DTLS Server Protocol Without Mutual Authentication, FCS_DTLSC_EXT.1.2, pg. 84: SFR and Extended Component Definitions do not match.

A.2.7.2. FCS_DTLSS_EXT.1 DTLS Server Protocol Without Mutual Authentication
FCS_DTLSS_EXT.1.2 The TSF shall deny connections from clients requesting **none**.

D.2.15.1. FCS_DTLSS_EXT.1 DTLS Server Protocol
FCS_DTLSS_EXT.1.2 The TSF shall deny connections from clients requesting **[assignment: list of protocol versions]**.
Should be matched to the appropriate description.
19. Section A.4.1.2. FIA_X509_EXT.2 X.509 Certificate Authentication, FIA_X509_EXT.2.1, pg. 90: SFR and Extended Component Definitions do not match.

A.4.1.2. FIA_X509_EXT.2 X.509 Certificate Authentication
FIA_X509_EXT.2.1 The TSF shall use X.509v3 certificates as defined by RFC 5280 to support authentication for [selection: DTLS, HTTPS, IPsec, SSH, TLS, no protocols] and [selection: code signing for system firmware/software updates[assignment: other uses], no additional uses].

D.4.3.2. FIA_X509_EXT.2 X509 Certificate Authentication
FIA_X509_EXT.2.1 The TSF shall use X.509v3 certificates as defined by RFC 5280 to support authentication for [selection: DTLS, HTTPS, IPsec, TLS, SSH, **[assignment: other protocols],** no protocols], and [selection: code signing for system firmware/software updates [assignment: other uses], no additional uses].
The description should match the Extended Component Definitions.
20. Section A.4.1.3. FIA_X509_EXT.3 X.509 Certificate Requests, FIA_X509_EXT.3.1, pg. 92: SFR and Extended Component Definitions do not match.

A.4.1.3. FIA_X509_EXT.3 X.509 Certificate Requests
FIA_X509_EXT.3.1 The TSF shall generate a Certificate Request as specified by RFC 2986 and be able to provide the following information in the request: public key and [selection: device-specific information, Common Name, Organization, Organizational Unit, Country].

D.4.3.1. FIA_X509_EXT.1 X.509 Certificate Validation
FIA_X509_EXT.3.1 The TSF shall generate a Certificate Request as specified by RFC 2986 and be able to provide the following information in the request: public key and [selection: device-specific information, Common Name, Organization, Organizational Unit, Country, **[assignment: other information]**].
The description should match the Extended Component Definitions.
21. Section 2. CC Conformance Claims, pg. 14: CCMB-2012-09-001 is an old version, so you should refer to the latest version. Change Change "in Annex D.2 of CC Part 1 (CCMB-2012-09-001)" to "in [[CC1], Annex D.2]",
22. Section 3.1. Users, pg. 15: The following Note refers to 1.3.3, but 1.3.3 is undefined - Note that a User can be a human user or an external IT entity. Also, a Normal User can be a Local User or a Network User as described in Section 1.3.3. Refer to "1.3.2. Operational Environment".
23. Appendix K.1. User Definitions, pg. 164: he following Definition refers to 1.3.3, but 1.3.3 is undefined - A User who has been identified and authenticated and does not have an administrative role. A Normal User can be a Local User or a Network User as described in Section 1.3.3. Refer to "1.3.2. Operational Environment".
24. Section 5.1. Conventions, pg. 24: Since Conventions are different from HCD PP, the description of SFR introduced from HCD PP does not match Conventions.
Example: According to HCD cPP Conventions, following b is "All auditable events for the **[not specified]** level of audit; and".
FAU_GEN.1.1 The TSF shall be able to generate an audit record of the following auditable events:
a.Start-up and shutdown of the audit functions;
b.All auditable events for the **not specified** level of audit; and
Match Conventions with HCD PP.   or Describe the SFR according to the HCD cPP Conventions. Conventions are not unified in many SFRs. It needs to be fixed. Also, some newly added SFRs and modified SFRs do not follow the HCD cPP Conventions.
25. Section 5.3.3. FCS_CKM_EXT.4 Extended: Cryptographic Key Material Destruction, Application Note, pg. 42: In the following, FIPS 140-2 is referred to, but it may be better to refer to ISO/IEC 19790:2012.
“Cryptographic Critical Security Parameters” are defined in FIPS 140-2 as “security-related information (e.g., secret and private cryptographic keys, and authentication data such as passwords and PINs) whose disclosure or modification can compromise the security of a cryptographic module”. Refer to ISO/IEC 19790:2012

**Describe the solution you'd like**
Implement the corrective actions indicated in the comments above.

**Describe alternatives you've considered**
None

**Additional context**
None
