JISEC comments against the Cryptographic Support (FCS) SFRs in Section 5 of the 3rd Internal Draft of the HCD cPP

**What is the change request for the cPP? Please describe.**
The following are JISEC comments against the Cryptographic Support (FCS) SFRs in Section 5 of the 3rd Internal Draft of the HCD cPP:

1. Section 5.1 Conventions, 5th Bullet: The convention for iteration operations should be simplified, and consistent with that of NDcPP - The text for 5-th bullet should be rewritten to as follows: Iteration: indicated by adding a string starting with “/” (e.g. “FCS_COP.1/Hash”)
2. Section 5.3.1 FCS_CKM.1(b) Cryptographic key generation (Symmetric Keys): FCS_COP.1(a) is missing, and the meaning of (h) is no longer maintained in the draft PP. FCS_COP.1(h) should be renamed to as FCS_COP.1/PRF, because FCS_COP.1(h) is used as a Pseudo Random Function in the context of key derivation.
3. Section 5.3.1 FCS_CKM.1(b) Cryptographic key generation (Symmetric Keys): "No Standard" should be replaced to as "NIST SP 800-133 Rev.2 Section [selection: 6.1, 6.3]"
4. Section 5.3.2. FCS_CKM.2 Cryptographic Key Establishment (Refinement): "RFC 3447" should be replaced by 8017, and "Version 2.1" should be replaced by 2.2.
5. Section 5.3.2. FCS_CKM.2 Cryptographic Key Establishment (Refinement): There are two references to NIST SP 800-56A Revision 2. These two references to SP 800-56A Revision 2 should be replaced by SP 800-56A Revision 3.
6. Section 5.3.2. FCS_CKM.2 Cryptographic Key Establishment (Refinement): The FCS_CKM.1.1 for asymmetric key generation should be FCS_CKM.1(a).1 in C.3.1.  In order that the intended SFR can be correctely identified, the FCS_CKM.1.1 in Application Note should be renamed to as FCS_CKM.1.1/AKG, and FCS_CKM.1(a) in C.3.1 should be renamed to as FCS_CKM.1/AKG.
7. 5.3.3. FCS_CKM_EXT.4 Extended: Cryptographic Key Material Destruction: FCS_CKM.1(b) should be renamed to as FCS_CKM.1/SKG, reflecting the meaning of symmetric key generation.
8. 5.3.3. FCS_CKM_EXT.4 Extended: Cryptographic Key Material Destruction: The dependency to FCS_CKM.2 should be added, because the established keys shall also be subject to key destruction.
9. 5.3.5. FCS_COP.1/DataEncryption Cryptographic Operation (AES Data Encryption/ Decryption): CCM should also be included in the 1st selection, because FCS_COP.1/DataEncryption is not for storage encryption purpose, but communications protection, so CCM should be included in the light of supported cipher suites for TLS 1.3.
10. 5.3.6. FCS_COP.1/SigGen Cryptographic Operation (Signature Generation and Verification): To be consistent with RFC 2409, Section 5.1, IKE v1 uses non-standard RSA signature generation/verification. RSAES-PKCS1-v1_5 encryption scheme with private key encryption for signing and public key decryption for signature verification. For IKE v1 authentication using RSA, RFC 2409, Section 5.1 should be added in the selection.
11. Section 5.3.7. FCS_RBG_EXT.1 Random Bit Generation: Table C.1 is not applicable CTR_DRBG.
The following text: 
Table C.1 "Security Strength Table for Hash Functions"
should be replaced with:
Table C.1 "Security Strength Table for Hash Functions" for Hash_DRBG or HMAC_DRBG, or Table C.2 "Security strengths, entropy and seed length requirements for the AES-128, 192, and 256 Block Cipher".
12.  Section 5.3.7. FCS_RBG_EXT.1 Random Bit Generation, Application Note 16: The following sentence should be removed from Application note 16: Platform-based means the hardware-based or within the VS resources.

**Describe the solution you'd like**
Perform the actions indication above.

**Describe alternatives you've considered**
None

**Additional context**
None
